@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: #fffbf5;
}

/**
------------------
MENU
------------------
 */

header{
    width: 100%;
    display: block;
    height: 4vw;

    font-family: 'Oswald', sans-serif;
}


.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.top-menu-list-left{
    font-size:1.8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.top-menu-item_l{
    margin: 0 0 0 2.5vh;
    list-style: none;
}

a{
    text-decoration: none !important;
    color: #000353  !important;
    transition: 0.5s ease-in-out;
}
a:hover {
    color: #5b7285 !important ;

}

.top-menu-list-right{
    font-size:1.3vw;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.top-menu-item_r{
    margin: 0 0 0 2vh;
    list-style: none;
}


.dropfirst{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 15vw;
    height: 100%;
    background: #000353;
}

.dropfirst>a{
    color: #e3e3ec !important;
}

.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background: #000353;
}
.drop{
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.dropfirst:hover .dropdown {
   opacity: 1;


}





.item-dropdown{
    list-style: none;
    text-align: center;
    padding: 0.5vh 3vh;
    text-transform: uppercase;
    font-size: 1vw;
}
.item-dropdown>a{
    color: #e3e3ec !important;
}

main{
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.index_klubok{
    width: 100%;
}

.about-us{
    width: 100%;

}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 9vh;
    margin: 1.5vw 2vw;
    background: url('../img/arrow.png');
    background-repeat: no-repeat;
    width: 35vw;
}


h2{
    color: #000353;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5vw;
    padding:  0;
    margin: 0;
    text-align: center;
}

.about-us-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;


}

.logo{
    margin: 2vw;
    border: #000353 solid 5px;
    border-radius: 25px;
}
.logo-img{
    border-radius: 25px;
    width: 25vw;
}

.about-us-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vw;
    width: 26vw;
    height: 20vw;
}

.about-us-text-title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2vw;
}

.about-us-text-body{
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    text-align: justify;
    margin: 1vw 0 0 0;
}


.products-container{
    background: #000353;
    padding:3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 18vw;
    margin: 2vw;
}

.product-title{
    margin: 0 0 0.5vw 0 ;
}

.product-title>a{
    color: #dedee9 !important;
    font-size: 1.2vw;
    text-transform: uppercase;

}

.product-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: #b6e0b6 solid 3px;
    width: 100%;
    height: 100%;
    border-radius:25px;
    background: #5b7285;
}

.product-img{
    border-radius:25px;
    margin: 1vw 1vw 0.3vw 1vw;
    width: 13vw;
}

.div-product-body-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.button-add-card{
    display: block;
    border: none;
    text-decoration: none;
}

.basket{
    width: 3vw;
}

.product-price{
    font-family: 'Oswald', sans-serif;
    font-size: 1vw;
}

.callback{
    margin:  0 0 5vw 0;
}

.callback-us-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;


}
h3{
    color: #dedee9;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    padding:  0;
    margin: 0;
    text-align: center;
}

.call{
    margin: 2vw;

}
.call-img{
    width: 15vw;
}

.callback-us-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vw;
    width: 26vw;
    height: 20vw;
    background: #000353;
}

.callback-us-text-title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2vw;
}

.callback-us-text-body{
    font-size: 1.5vw;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    text-align: justify;
    margin: 1vw 0 0 0;
    color: #dedee9;

}


footer{
    background: #5b7285;
    width: 100%;
    height: 20vh;
}

